<header>
  <div class="container">
    <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
      <ul class="icons">
        <!-- <li>
          <img class="p-hamburger" src="assets/img/menu.png" alt="menu" />
        </li>
        <li>
          <img class="p-cursor" src="assets/img/search.png" alt="search" />
        </li> -->
      </ul>
      <ul>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/about" (click)="activateRoute('about')">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact">Contact</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/sushma-h-b79091113/">
            <img
              src="assets/img/linkedin.png"
              alt="linkedin"
              width="20"
              height="20"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
