<section>
  <div class="contianer">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <h2
          class="animate__animated animate__bounceInDown"
          data-wow-delay="0.6s"
        >
          About Me
        </h2>
        <p class="animate__animated animate__backInRight" id="paragraph">
          <b> Hi I'm Sushma Hampapatna.</b>&nbsp;Currently I am working as
          Front-end Developer.&nbsp;I am passionate about Web Development and
          very curious to learn and share my knowledge.&nbsp;I am having
          knowledge on Angular, Javascript and other Front-end Technologies.
        </p>
      </div>
    </div>
  </div>
</section>
