<section>
  <div class="contianer">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <div>
          <h2 class="sub-heading">Academics</h2>
          <div>
            <!-- <p class="desc">
              I have completed my bachelor's degree in Computer science &
              engineering from
              <b>Proudhadevaraya Institute if technology</b> with 6.5 CGPA.
            </p> -->
            <div class="container-1">
              <div class="card-center">
                <div class="row">
                  <div class="card">
                    <div class="card-body">
                      I have completed my bachelor's degree in Computer science
                      & engineering from
                      <b>Proudhadevaraya Institute if technology</b> with 6.5
                      CGPA.
                    </div>
                  </div>
                </div>
                &nbsp;
                <!-- <p class="desc">
              I have completed my Diploma in Computer science & engineering from
              <b>TMAE's Polytechnic</b> with 69%.
            </p> -->
                <div class="row">
                  <div class="card">
                    <div class="card-body">
                      I have completed my Diploma in Computer science &
                      engineering from
                      <b>TMAE's Polytechnic</b> with 69%.
                    </div>
                  </div>
                </div>

                &nbsp;
                <!-- <p class="desc">
              I have completed my Secondary School from
              <b>Mother Teresa High School</b> with 67.8%.
            </p> -->
                <div class="row">
                  <div class="card">
                    <div class="card-body">
                      I have completed my Secondary School from
                      <b>Mother Teresa High School</b> with 67.8%.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          &nbsp;

          <h2 class="sub-heading">Projects</h2>
          <div>
            <h4>Sentiment Prediction & Summarization</h4>
            <div>
              <p class="desc">
                The project takes the customer reviews from online e-commerce
                portal and classifies the reviews into 3 categories positive,
                negative and neutral based on words used in reviews. For example
                if customer gives the review as The product was very good,
                application picks the word good from the sentence and classifies
                it as positive review.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
