<section>
  <div class="contianer">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <img class="welcome" src="assets/img/welcome.jpg" alt="welcome" /><br />
        <span>I am</span>
        <h2 class="animate__animated animate__bounce">Sushma Hampapatna</h2>
        <small><strong>Front-end Developer</strong> </small>
        &nbsp;
        <a href="/about"
          >More <img src="assets/img/arrow.png" alt="right-arrow"
        /></a>
        <br />
      </div>
    </div>
  </div>
</section>
